.dropForm ul {
  margin: 0;
  padding: 0;
}

.dropForm li{
  width: 130px;
  padding: 7px 0;
  list-style: none;
  text-align: center;
}

.dropForm a {
  text-decoration: none;
  color: black;
}

.dropForm > ul > li {
  position: relative;
  border: solid 1px #a7a7a7;
  border-radius: 10px;
}

.dropForm > ul > li > ul {
  margin-top: 7px;
  display: none; 
  position: absolute;
}

.dropForm > ul > li:hover > ul {
  display: block;
}

.dropForm > ul > li > ul > li:hover {
  background-color: #ebebeb;
  border-radius: 10px;
}